;; shadow-cljs configuration
{:deps true
 :source-paths  ["src"]
 :builds {:dev {:output-dir "resources/public/js"
                :asset-path "/public/js"
                :target     :browser
                :modules    {:main {:entries [ether.estuary.client]}}
                :devtools {:preloads [devtools.preload]
                           :after-load ether.estuary.client/reload!
                           :watch-dir "public"}}

          :app {:output-dir "target/"
                :asset-path "."
                :target     :browser
                :modules    {:main {:entries [ether.estuary.client]}}}}}
